.container {
  width: 100%;
  height: 50px;
  background: slategray;
}
.span {
  color: rgb(6, 6, 24);
  margin-left: 40%;
  font-size: 30px;
}

li {
  color: rgb(19, 19, 19);
  width: 50%;
  height: 30px;
  border: solid rgb(84, 163, 153);
  list-style-type: none;
  background: rgb(113, 192, 223);
}
.bg {
  background: slategray;
  width: 100%;
}
.aboutus {
  padding-top: 20px;
  margin-left: 20%;
  font-size: 20px;
}
